/* The following specifications are for the default view */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Quicksand:wght@300;400&family=Work+Sans:wght@300;400&display=swap');

/* add emoji */
html {
	cursor: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" height="25" width="25"><text y="28" font-size="32">⚡️</text><path d="M0,2 L0,0 L2,0" /></svg>'), auto;
}

 .disco-ball-move {
    animation-name: bounce;
    animation-duration: 2s;
}
@keyframes bounce{
    0% {transform: translateY(0);}
    50% {transform: translateY(-25px);}
    100% {transform: translateY(0);}
}

body {
    font-family: 'Quicksand', sans-serif;
    color: #131313;
    background-color: #ffffff;
    background-image: url(../images/abstract.jpg);
    margin: 6%;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    border: 3px solid #131313;
    border-radius: 8px 8px 0px 0px;
    padding: 10px;
    border-bottom: none;
}

footer p {
    text-align: center;
    color: #000000;
}

main {
    background-color: #FFFFFF;
    border: 3px solid #131313;
    border-radius: 0px 0px 8px 8px;
    padding: 25px;
    font-size: 20px;
}

/* typewriter animation */
.container{
    display: inline-block;
}

.typed-out {
    overflow: hidden;
    border-right: .15em solid rgb(255, 101, 67);
    white-space: nowrap;
    animation: 
        typing 2s steps(20, end) forwards;
    font-size: 1.6rem;
    width: 0;
  }

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

h1 {
    text-align: left;
    font-size: 32px;
    padding: 10px;
}

h2 {
    text-align: left;
    font-size: 26px;
    padding: 10px;
}

h2:hover{
    color: #ff6543;
    text-decoration: underline wavy;
}

p {
    line-height: 1.5;
    font-size: 18px;
}

img:not(#disco-ball) {
    display: block;
    width: 275px;
    margin: auto;
    border: 5px double rgb(255, 101, 67);
    padding: 18px;
    border-radius: 10px;
}

img:hover:not(#disco-ball) {
    border: 5px solid rgb(255, 101, 67);
}

nav{
    text-align: center;
    margin: auto;
}

nav ul{
    display: flex;
    flex-direction: column;
}

nav li {
    color: #131313;
    font-size: 18px;
    display: inline-block;
    width: 25%;
    margin: 10px 25px;
    padding: 10px 30px;
}

nav li:hover {
    background-color: #fa785b;
    box-shadow: 0px 5px #131313;
    border-radius: 8px;
}

.active {
    border: 2px solid #131313;
    border-radius: 8px;
    background-color: #f9b3a4;
}

a:visited{
    color: #000000;
    text-decoration: none
}

a.skip{
    background: white;
    left: 0;
    padding: 8px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-in-out;
    transition: top 1s ease-out;
    z-index: 1;
}

a.skip:focus{
    top: 15px;
    color: black;
    text-decoration-style: solid;
}

.container{
    padding: 45px;
    margin: auto;
}

.Pinterest-board{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/* default view: style images on home page using grid */
.home-image-container{
    display: grid;
    width: 90%;
    margin: auto;
    grid-template-columns: 1;
    grid-template-rows: 3;
    justify-content: space-evenly;
    align-items: center;
}

.profile{
    grid-column: 1/ span 1;
    grid-row: 1/span 1;
    margin: 25px;
}

.sunflower{
    grid-column: 1/ span 1;
    grid-row: 2/span 1;
    margin: 15px;
}

.disco{
    grid-column: 1/ span 1;
    grid-row: 3/span 1;
    margin: 15px;
}

/* default view: style images on norcal page using flex */
/* styling photo-worthy spots, walkable place, and overnight stays */
.photo-worthy-spots-image-container, .walkable-places-image-container, .overnight-stays-image-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* default view: style images on food page using grid */
/* styling asian food grid */
.asian-food-image-container{
    display: grid;
    width: 90%;
    margin: auto;
    grid-template-columns: 1;
    grid-template-rows: 5;
    justify-content: space-evenly;
    align-items: center;
}

.noodles{
    grid-column: 1/ span 1;
    grid-row: 1/span 1;
    margin: 15px;
}

.poke{
    grid-column: 1/ span 1;
    grid-row: 2/span 1;
    margin: 15px;
}

.katsu{
    grid-column: 1/ span 1;
    grid-row: 3/span 1;
    margin: 15px;
}

.hotpot{
    grid-column: 1/ span 1;
    grid-row: 4/span 1;
    margin: 15px;
}

.teriyaki{
    grid-column: 1/ span 1;
    grid-row: 5/span 1;
    margin: 15px;
}

/* styling mediterranean food and australian food grid */
.mediterranean-food-image-container, .australian-food-image-container{
    display: grid;
    width: 90%;
    margin: auto;
    grid-template-columns: 1;
    grid-template-rows: 3;
    justify-content: space-evenly;
    align-items: center;
}

.roasted-veggies, .avocado-toast{
    grid-column: 1/ span 1;
    grid-row: 1/span 1;
    margin: 15px;
}

.nick-the-greek, .smoked-salmon-bowl{
    grid-column: 1/ span 1;
    grid-row: 2/span 1;
    margin: 15px;
}

.orzo-salad, .veggie-bowl{
    grid-column: 1/ span 1;
    grid-row: 3/span 1;
    margin: 15px;
}

@media screen and (min-width: 800px) {
    /* typewriter animation */
    .container{
        display: inline-block;
    }

    /* ALIGN RIGHT */
    nav ul{
        display: inline-block;
        align-items: center;
        padding: 20px;
        margin: auto;
    }

    .typed-out {
        overflow: hidden;
        border-right: .15em solid rgb(255, 101, 67);
        white-space: nowrap;
        animation: 
            typing 2s steps(20, end) forwards;
        font-size: 1.6rem;
        width: 0;
    }

    @keyframes typing {
        from { width: 0 }
        to { width: 70% }
    }
    
    img:not(#disco-ball) {
        display: block;
        width: 275px;
        margin: auto;
        padding: 18px;
        border: 4px double #5fc6e5;
        border-radius: 10px;
    }
    
    img:hover:not(#disco-ball) {
        border: 5px dotted #5fc6e5;
    }

    /* tablet view: style images on home page using grid */
    .home-image-container{
        display: grid;
        width: 90%;
        margin: auto;
        grid-template-columns: 2;
        grid-template-rows: 2;
        justify-content: space-evenly;
        align-items: center;
    }

    .profile{
        grid-column: 1/ span 1;
        grid-row: 1/span 1;
        margin: 15px;
    }

    .sunflower{
        grid-column: 2/ span 1;
        grid-row: 1/span 3;
        margin: 15px;
    }

    .disco{
        grid-column: 1/ span 1;
        grid-row: 2/span 2;
        margin: 15px;
    }
    
    /* tablet view: style images on food page using grid */
    /* styling asian food grid */
    .asian-food-image-container{
        display: grid;
        width: 90%;
        margin: auto;
        grid-template-columns: 2;
        grid-template-rows: 5;
        justify-content: space-evenly;
        align-items: center;
    }

    .noodles{
        grid-column: 1/ span 1;
        grid-row: 1/span 1;
        margin: 15px;
    }

    .poke{
        grid-column: 2/ span 2;
        grid-row: 1/span 2;
        margin: 15px;
    }

    .katsu{
        grid-column: 1/ span 1;
        grid-row: 2/span 1;
        margin: 15px;
    }

    .hotpot{
        grid-column: 2/ span 1;
        grid-row: 2/span 4;
        margin: 15px;
    }

    .teriyaki{
        grid-column: 1/ span 1;
        grid-row: 5/span 1;
        margin: 15px;
    }

    /* styling mediterranean food and australian food grid */
    .mediterranean-food-image-container, .australian-food-image-container{
        display: grid;
        width: 90%;
        margin: auto;
        grid-template-columns: 2;
        grid-template-rows: 2;
        justify-content: space-evenly;
        align-items: center;
    }

    .roasted-veggies, .avocado-toast{
        grid-column: 1/ span 1;
        grid-row: 1/span 1;
        margin: 15px;
    }

    .nick-the-greek, .smoked-salmon-bowl{
        grid-column: 2/ span 1;
        grid-row: 1/span 3;
        margin: 15px;
    }

    .orzo-salad, .veggie-bowl{
        grid-column: 1/ span 1;
        grid-row: 2/span 1;
        margin: 15px;
    }

}

@media screen and (min-width: 1200px) {
    /* typewriter animation */
    .container{
        display: inline-block;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 20px;
        margin: auto;
    }

    .typed-out {
        overflow: hidden;
        border-right: .15em solid rgb(255, 101, 67);
        white-space: nowrap;
        animation: 
            typing 2s steps(20, end) forwards;
        font-size: 1.6rem;
        width: 0;
    }

    @keyframes typing {
        from { width: 0 }
        to { width: 45% }
    }

    img:not(#disco-ball) {
        display: block;
        width: 275px;
        margin: auto;
        padding: 18px;
        border: 4px double #e265f3;
        border-radius: 10px;
    }
    
    img:hover:not(#disco-ball) {
        border: 5px groove #e265f3;
    }

    /* laptop view: style images on home page using grid */
    .home-image-container{
        display: grid;
        width: 90%;
        margin: auto;
        grid-template-columns: 3;
        grid-template-rows: 1;
        justify-content: space-evenly;
        align-items: center;
    }

    .profile{
        grid-column: auto/ span 1;
        grid-row: 1/span 1;
        margin: 15px;
    }

    .sunflower{
        grid-column: auto/ span 1;
        grid-row: 1/span 2;
        margin: 15px;
    }

    .disco{
        grid-column: auto/ span 1;
        grid-row: 1/span 3;
        margin: 15px;
    }

    /* laptop view: style images on food page using grid */
    /* styling asian food grid */
    .asian-food-image-container{
        display: grid;
        width: 90%;
        margin: auto;
        grid-template-columns: 3;
        grid-template-rows: 2;
        justify-content: space-evenly;
        align-items: center;
    }

    .noodles{
        grid-column: 1/ span 1;
        grid-row: 1/span 1;
        margin: 15px;
    }

    .poke{
        grid-column: 2/ span 1;
        grid-row: 1/span 1;
        margin: 15px;
    }

    .katsu{
        grid-column: 3/ span 1;
        grid-row: 1/span 1;
        margin: 15px;
    }

    .hotpot{
        grid-column: 1/ span 1;
        grid-row: 2/span 1;
        margin: 15px;
    }

    .teriyaki{
        grid-column: 2/ span 1;
        grid-row: 2/span 1;
        margin: 15px;
    }

    /* styling mediterranean food and australian food grid */
    .mediterranean-food-image-container, .australian-food-image-container{
        display: grid;
        width: 90%;
        margin: auto;
        grid-template-columns: 3;
        grid-template-rows: 1;
        justify-content: space-evenly;
        align-items: center;
    }

    .roasted-veggies, .avocado-toast{
        grid-column: auto/ span 1;
        grid-row: 1/span 1;
        margin: 15px;
    }

    .nick-the-greek, .smoked-salmon-bowl{
        grid-column: auto/ span 1;
        grid-row: 1/span 2;
        margin: 15px;
    }

    .orzo-salad, .veggie-bowl{
        grid-column: auto/ span 1;
        grid-row: 1/span 3;
        margin: 15px;
    }
}

@media screen and (prefers-reduced-motion: reduce){
    
    #icon{
        animation: none;
    }
  }
